In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
applicationDropDF = application_df.drop(['EIN', 'NAME', 'AFFILIATION'], axis=1)
applicationDropDF

,APPLICATION_TYPE,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...
34294,T4,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
n = applicationDropDF.nunique(axis=0)
  
print("No.of.unique values in each column :\n",
      n)

No.of.unique values in each column :
 APPLICATION_TYPE            17
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
applicationDropDF.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Replace in dataframe
for app in applicationDropDF:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
applicationDropDF.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
applicationDropDF.groupby('CLASSIFICATION').filter(lambda x: len(x) >= 2).CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Define cutoff value
cutoff = 10

# Create a list of classifications with count less than the cutoff
class_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(class_counts[class_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
with_dummies_df = pd.get_dummies(applicationDropDF)
with_dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = with_dummies_df["IS_SUCCESSFUL"].values
X = with_dummies_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-10-f80a2c389a95>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = with_dummies_df.drop(["IS_SUCCESSFUL"],1).values

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 140
hidden_nodes_layer2 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 140)               15540

 dense_1 (Dense)             (None, 50)                7050

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 22,641
Trainable params: 22,641
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=120)

Epoch 1/120
804/804 [==============================] - 3s 2ms/step - loss: 0.6275 - accuracy: 0.6446
Epoch 2/120
804/804 [==============================] - 2s 2ms/step - loss: 0.6112 - accuracy: 0.6541
Epoch 3/120
804/804 [==============================] - 2s 2ms/step - loss: 0.6080 - accuracy: 0.6565
Epoch 4/120
804/804 [==============================] - 2s 3ms/step - loss: 0.6067 - accuracy: 0.6564
Epoch 5/120
804/804 [==============================] - 2s 2ms/step - loss: 0.6052 - accuracy: 0.6578
Epoch 6/120
804/804 [==============================] - 2s 3ms/step - loss: 0.6041 - accuracy: 0.6596
Epoch 7/120
804/804 [==============================] - 3s 3ms/step - loss: 0.6033 - accuracy: 0.6579
Epoch 8/120
804/804 [==============================] - 2s 2ms/step - loss: 0.6025 - accuracy: 0.6593
Epoch 9/120
804/804 [==============================] - 2s 3ms/step - loss: 0.6014 - accuracy: 0.6595
Epoch 10/120
804/804 [==============================] - 2s 2ms/step - loss: 0.6016 - accuracy: 0.6605
Epoch 11/120
804/804 [==============================] - 2s 2ms/step - loss: 0.6013 - accuracy: 0.6609
Epoch 12/120
804/804 [==============================] - 2s 2ms/step - loss: 0.6002 - accuracy: 0.6607
Epoch 13/120
804/804 [==============================] - 3s 4ms/step - loss: 0.6003 - accuracy: 0.6607
Epoch 14/120
804/804 [==============================] - 5s 6ms/step - loss: 0.5996 - accuracy: 0.6607
Epoch 15/120
804/804 [==============================] - 5s 6ms/step - loss: 0.5996 - accuracy: 0.6616
Epoch 16/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5995 - accuracy: 0.6609
Epoch 17/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5986 - accuracy: 0.6608
Epoch 18/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5983 - accuracy: 0.6622
Epoch 19/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5982 - accuracy: 0.6619
Epoch 20/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5980 - accuracy: 0.6636
Epoch 21/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5974 - accuracy: 0.6615
Epoch 22/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5974 - accuracy: 0.6619
Epoch 23/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5973 - accuracy: 0.6618
Epoch 24/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5967 - accuracy: 0.6625
Epoch 25/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5968 - accuracy: 0.6628
Epoch 26/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5965 - accuracy: 0.6627
Epoch 27/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5963 - accuracy: 0.6639
Epoch 28/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5963 - accuracy: 0.6629
Epoch 29/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5958 - accuracy: 0.6635
Epoch 30/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5963 - accuracy: 0.6632
Epoch 31/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5958 - accuracy: 0.6640
Epoch 32/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5959 - accuracy: 0.6629
Epoch 33/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5951 - accuracy: 0.6644
Epoch 34/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5952 - accuracy: 0.6644
Epoch 35/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5949 - accuracy: 0.6644
Epoch 36/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5948 - accuracy: 0.6623
Epoch 37/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5949 - accuracy: 0.6646
Epoch 38/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5948 - accuracy: 0.6652
Epoch 39/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5949 - accuracy: 0.6642
Epoch 40/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5946 - accuracy: 0.6644
Epoch 41/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5946 - accuracy: 0.6643
Epoch 42/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5941 - accuracy: 0.6642
Epoch 43/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5944 - accuracy: 0.6646
Epoch 44/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5941 - accuracy: 0.6647
Epoch 45/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5940 - accuracy: 0.6643
Epoch 46/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5940 - accuracy: 0.6638
Epoch 47/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5936 - accuracy: 0.6643
Epoch 48/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5939 - accuracy: 0.6631
Epoch 49/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5941 - accuracy: 0.6638
Epoch 50/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5935 - accuracy: 0.6641
Epoch 51/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5931 - accuracy: 0.6654
Epoch 52/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5937 - accuracy: 0.6641
Epoch 53/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5935 - accuracy: 0.6646
Epoch 54/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5933 - accuracy: 0.6642
Epoch 55/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5935 - accuracy: 0.6641
Epoch 56/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5930 - accuracy: 0.6654
Epoch 57/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5930 - accuracy: 0.6648
Epoch 58/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5928 - accuracy: 0.6648
Epoch 59/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5933 - accuracy: 0.6646
Epoch 60/120
804/804 [==============================] - 3s 3ms/step - loss: 0.5929 - accuracy: 0.6644
Epoch 61/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5926 - accuracy: 0.6656
Epoch 62/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5931 - accuracy: 0.6658
Epoch 63/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5928 - accuracy: 0.6647
Epoch 64/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5926 - accuracy: 0.6647
Epoch 65/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5927 - accuracy: 0.6654
Epoch 66/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5928 - accuracy: 0.6655
Epoch 67/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5926 - accuracy: 0.6655
Epoch 68/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5921 - accuracy: 0.6649
Epoch 69/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5919 - accuracy: 0.6660
Epoch 70/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5927 - accuracy: 0.6651
Epoch 71/120
804/804 [==============================] - 3s 4ms/step - loss: 0.5925 - accuracy: 0.6655
Epoch 72/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5923 - accuracy: 0.6653
Epoch 73/120
804/804 [==============================] - 4s 5ms/step - loss: 0.5923 - accuracy: 0.6654
Epoch 74/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5920 - accuracy: 0.6646
Epoch 75/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5922 - accuracy: 0.6641
Epoch 76/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5921 - accuracy: 0.6652
Epoch 77/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5920 - accuracy: 0.6656
Epoch 78/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5920 - accuracy: 0.6649
Epoch 79/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5924 - accuracy: 0.6656
Epoch 80/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5922 - accuracy: 0.6653
Epoch 81/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5918 - accuracy: 0.6651
Epoch 82/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5917 - accuracy: 0.6655
Epoch 83/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5918 - accuracy: 0.6658
Epoch 84/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5921 - accuracy: 0.6651
Epoch 85/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5921 - accuracy: 0.6653
Epoch 86/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5918 - accuracy: 0.6656
Epoch 87/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5914 - accuracy: 0.6654
Epoch 88/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5920 - accuracy: 0.6649
Epoch 89/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5916 - accuracy: 0.6656
Epoch 90/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5917 - accuracy: 0.6644
Epoch 91/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5914 - accuracy: 0.6652
Epoch 92/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5914 - accuracy: 0.6661
Epoch 93/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5914 - accuracy: 0.6659
Epoch 94/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5913 - accuracy: 0.6656
Epoch 95/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5913 - accuracy: 0.6649
Epoch 96/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5919 - accuracy: 0.6661
Epoch 97/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5911 - accuracy: 0.6644
Epoch 98/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5916 - accuracy: 0.6656
Epoch 99/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5924 - accuracy: 0.6647
Epoch 100/120
804/804 [==============================] - 3s 3ms/step - loss: 0.6012 - accuracy: 0.6651
Epoch 101/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5910 - accuracy: 0.6647
Epoch 102/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5907 - accuracy: 0.6656
Epoch 103/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5928 - accuracy: 0.6654
Epoch 104/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5912 - accuracy: 0.6648
Epoch 105/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5917 - accuracy: 0.6646
Epoch 106/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5911 - accuracy: 0.6650
Epoch 107/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5912 - accuracy: 0.6656
Epoch 108/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5920 - accuracy: 0.6653
Epoch 109/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5913 - accuracy: 0.6656
Epoch 110/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5907 - accuracy: 0.6655
Epoch 111/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5909 - accuracy: 0.6651
Epoch 112/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5908 - accuracy: 0.6656
Epoch 113/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5907 - accuracy: 0.6656
Epoch 114/120
804/804 [==============================] - 2s 3ms/step - loss: 0.5911 - accuracy: 0.6646
Epoch 115/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5910 - accuracy: 0.6654
Epoch 116/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5912 - accuracy: 0.6661
Epoch 117/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5910 - accuracy: 0.6648
Epoch 118/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5903 - accuracy: 0.6652
Epoch 119/120
804/804 [==============================] - 2s 2ms/step - loss: 0.5905 - accuracy: 0.6659
Epoch 120/120
804/804 [==============================] - 2s 2ms/step - loss: 0.6076 - accuracy: 0.6652

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6202 - accuracy: 0.6562 - 519ms/epoch - 2ms/step
Loss: 0.6202421188354492, Accuracy: 0.6562098860740662

In [ ]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

# **Predicting Successful Applicants Who Receive Funding From Alphabet Soup**

Using neural networks, I have developed a tool that can help identify which applicants who seek funding have the best chance of success in their ventures. 


**Defining Target and Feature Variables**

The target variable is the model_accuracy. The feature variables include the columns, bins, epochs, neurons, and layers. The EIN and NAME were removed from the analysis since they are identification columns and are neither targets nor features.


**Optimization Methods**

In my first attempt at optimizing the model, I dropped the AFFILIATION column and increased hidden nodes layer1 to from 80 to 120, and hidden nodes layer2 from 30 to 45. This had a negligible impact, however. Since adding more layers does not guarantee more accurate results, I was curious to experiment with reducing the number of layers, and reduced hidden nodes layer1 to 40, and hidden nodes layer2 to 20. This unfortunately reduced accuracy by 9%, from 73% to 66% . Finally, I increased hidden nodes layer1 to 140, and hidden nodes layer2 to 50, and also increased the number of epochs from 100 to 120. This also had a 66% prediction accuracy.


**Ideas For Better Optimization**

Some ideas for improving predictions in future optimization attempts include dropping more columns, creating more bins for rare occurrences in columns, and increasing or decreasing the number of values for each bin.